!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title Project

    / Import Google Icon Font
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
    / Compiled and minified CSS
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css", :rel => "stylesheet"}

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    / Compiled and minified JavaScript
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"}
  %body
    %header
      %nav{:class => @primary_color}
        .nav-wrapper
          %ul
            %li.side-bar-toggle
              %a.waves-effect.waves-light
                %i.material-icons menu
          %a.title{:href => "#"} Project
          .flex-middle
            %form.search.hide-on-small-only
              .input-field
                %input.z-depth-2{:id => "search", :type => "search", :placeholder => "Search"}
                %label.label-icon{:for => "search"}
                  %i.material-icons search
                %i.material-icons close
          %ul#nav-mobile.right.hide-on-med-and-down
            = yield :nav
    %main
      .side-bar
        .tool-bar
          %ul.left
            %li.side-bar-toggle
              %a
                %i.material-icons arrow_back
          %ul.right
            = yield :nav
        .body
          %a.title Project
          = yield :sidebar
        .footer 
          Contact
          = yield :footer
      %div{:id => "main-container"}
        .container-responsive
          = yield
    :javascript
      $(() => {
        $('.side-bar-toggle').click(() => {
          $('.side-bar').toggleClass('active');
        });
      });