!!!
- @primary_color ||= 'blue'

%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title Project

    / Import Google Icon Font
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
    / Compiled and minified CSS
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css", :rel => "stylesheet"}

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    / Compiled and minified JavaScript
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.0/masonry.pkgd.min.js"}
  %body
    #user-dropdown.popover
      .popover-grow
      .popover-body
        %ul.vertical.grey-text.text-darken-2
          %li.collection-btn.small
            %a
              %i.material-icons person
              %span My Account
          %li.collection-btn.small
            %a
              %i.material-icons power_settings_new
              %span Logout
    #ticket-options.popover
      .popover-grow
      .popover-body
        %ul.vertical.grey-text.text-darken-2
          %li.collection-btn.small
            %a
              %i.material-icons archive
              %span Archive
          %li.collection-btn.small
            %a
              %i.material-icons delete
              %span Close ticket

    %header
      %nav.fixed{:class => @primary_color}
        .nav-wrapper.flex.flex-row
          %ul.horizontal
            %li.circle.side-bar-toggle.collection-btn
              %a.waves-effect.waves-light
                %i.material-icons menu
          %a.title{:href => "#"} Project
          .flex.flex-md
            %form.search.flex-md.hide-on-small-only
              .input-field
                %input#search.z-depth-2{:type => "search", :placeholder => "Search"}
                %label.label-icon{:for => "search"}
                  %i.material-icons search
                %i.material-icons close
            %ul.horizontal
              = yield :nav
          %ul#profile-options.horizontal.hide-on-med-and-down
            = render 'layouts/navigation'
    %main
      .side-bar.grey-text.text-darken-2
        .tool-bar
          %ul.horizontal.left
            %li.circle.side-bar-toggle.collection-btn
              %a
                %i.material-icons arrow_back
          %ul.horizontal.right
            = render 'layouts/navigation'
        .body
          %a.title Project
          %ul.vertical
            %li.collection-btn
              %a
                %i.material-icons dashboard
                %span Dashboard
            %li.collection-btn
              %a#notifications
                %i.material-icons notifications
                %span Notifications
                %span.badge.new
          = yield :sidebar
          %ul.vertical
            %li.collection-btn
              %a
                %i.material-icons settings
                %span Settings
            %li.collection-btn
              %a
                %i.material-icons feedback
                %span Send Feedback
            %li.collection-btn
              %a
                %i.material-icons help
                %span Help
        .footer 
          Contact
          = yield :footer
      #main-container.fixed-navbar
        .container-responsive
          #ticket-container.grid
            .grid-sizer
            = yield
          